.previev {
    background: url(../img/cover-bg.png) no-repeat;
    background-position: 50% 34.95%;
    background-size: cover;
    padding: 20px;
}

.previev-title {
    color: rgb(230, 169, 36);
    font-size: 1.2rem;
}

.previev-text-title {
    color: azure;
    font-size: 3.5rem;
}

.previev__text {
    color: rgb(161, 181, 200);
    font-size: 18px;
}

.previev-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.previev-text-container {
    padding: 100px 0px 130px 0px;
    max-width: 50%;
}

.previev__btn-contact-us,
.previev__btn-pricing {
    height: 51px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 100px 0px;

}

.previev__btn-contact-us {
    width: 132px;
    background-color: rgb(118, 108, 245);
    color: aliceblue;
    border-color: rgb(118, 108, 245);
    margin-right: 20px;
}
.previev__btn-contact-us:hover {
    background-color: rgb(230, 169, 36);
    border-color: rgb(230, 169, 36);
}


.previev__btn-pricing {
    width: 100px;
    background-color: #232230;
    border-color: #ffffff;
    color: #ffffff;
}
.previev__btn-pricing:hover {
    background-color: #ffffff;
    color: #232230;
}
