.previev {
    background: url(../img/cover-bg.png) no-repeat;
    background-position: 50% 34.95%;
    background-size: cover;
    padding: 20px;
}

.previev-title {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.previev-text-title {
    color: var(--primary-text-color);
    font-size: 3.5rem;
}

.previev__text {
    color: var(--light-text-color);
    font-size: 18px;
}

.previev-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.previev-text-container {
    padding: 100px 0px 130px 0px;
    max-width: 50%;
}

.previev__btn-contact-us,
.previev__btn-pricing {
    height: 51px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 100px 0px;

}

.previev__btn-contact-us {
    width: 132px;
    background-color: var(--primary-button-background-color);
    color: var(--primary-text-color);
    border-color: var(--primary-button-background-color);
    margin-right: 20px;
}
.previev__btn-contact-us:hover {
    background-color: var(--secondary-text-color);
    border-color: var(--secondary-text-color);
}


.previev__btn-pricing {
    width: 100px;
    background-color: var(--secondary-background-color);
    border-color: var(--primary-text-color);
    color: var(--primary-text-color);
}
.previev__btn-pricing:hover {
    background-color: var(--primary-text-color);
    color: var(--secondary-background-color);
}
